html
{
    background: #fff;
    font-family: "Arial", "Helvetica", sans-serif;
    text-emphasis: normal;
    color:rgb(75,75,75);
}

body
{
    background: #fff;
    border: 1px solid #d6d9d9;
    max-width: 500px;
    
}

#bar
{
    background: #d6d9d9;
    text-align: center;
    margin-top: 0;
    margin-bottom: 0;
    line-height: 2;
    font-size:9999;
}

#toMail
{
    background: #fff;
    border: 1px solid #d6d9d9;
    margin-top: 1;
    margin-bottom: 1;
    margin-left: 2%;
    margin-right: 2%;
    font-size: 15pt;
}

#selectAll
{
    margin-top: 0;
    margin bottom: 1%;
    margin-left: 2%;
    margin-right: 2%;
    font-size: 8pt;
}

#contactContainer
{
    border: 1px solid #d6d9d9;
    margin-top: 1%;
    margin-left: 2%;
    margin-right: 2%;
    font-size: 8pt;
}

button
{
    
    margin-left: 83.5%;
    font-siz:8pt;
}












